.app {
  width: 80%;
  height: 100%;
  padding: 30px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    padding: 20px;
    width: 100%;
  }

  header {
    margin-bottom: 20px;

    .app-title {
      font-size: 26px;
      margin: 0;
      color: $primary;
      font-family: 'Fira Code';

      span {
        font-size: 10px;
        color: $lightpurple;
        vertical-align: super;
        margin-left: 2px;
      }
    }
  }
}