.dashboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  
  aside {
    flex-basis: 27%;
    flex-grow: 1;
  }

  main {
    flex-basis: 70%;
    margin-left: 20px;
  }

  @media (max-width: 900px) {
    flex-flow: column-reverse;

    aside {
      margin-top: 10px;
    }

    main {
      margin-left: 0;
    }
  }
}