.sprint-list {
  border: 1px solid $lightgray;
  border-radius: 3px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 11px;
    border-bottom: 1px solid $lightgray;

    h1 {
      margin-left: 6px;
      font-size: 14px;
    }
  }

  &__add {
    padding: 2px;
    font-size: 16px;
    cursor: pointer;
    color: $primary;
  }

  &__no-items {
    padding: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}