.story-details {
  border: 1px solid $lightgray;
  border-radius: 3px;
  padding: 0 20px 20px 20px;
  background: whitesmoke;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.2);

  &__header {
    padding: 20px 3px 35px 3px;
    margin: 0 -3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background: linear-gradient(whitesmoke 80%, transparent);
  }

  &__left {
    display: flex;
    align-items: center;
    flex: 1;

    .bp3-tag {
      height: 20px;
    }
  }

  &__name {
    font-family: FiraCode;
    font-size: 20px;
    margin-left: 15px;
    max-width: 250px;
  }


  &__controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    & > * + * {
      margin-left: 9px;
    }
  }

  &__body {
    margin-bottom: 12px;
    margin-top: -8px;
  }

  &__nothing {
    padding-bottom: 20px;
  }
}