.story-list {
  border: 1px solid $lightgray;
  border-radius: 3px;
  background: whitesmoke;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 15px;
    border-bottom: 1px solid $lightgray;

    h1 {
      font-weight: normal;
      margin-left: 6px;
      font-size: 14px;
    }
  }

  &__body {
    height: 300px;
    overflow-y: auto;
  }

  &__add {
    padding: 2px;
    font-size: 16px;
    cursor: pointer;
    color: $primary;
  }

  &__no-items {
    padding: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__file-selector {
    position: absolute;
    width: 0;
  }
}
