.story-list-item {
  border-left: 5px solid transparent;
  font-size: 13px;
  padding: 14px 21px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__name {
    max-width: 240px;
  }

  &__options {
  }

  &.selected {
    border-left-color: $primary;
    background-color: lavender;
  }

  &__items-count {
    font-size: 10px;
  }
}
