.story-details {
  @include box;
  padding: 0 28px 30px 30px;

  &__header {
    padding: 30px 3px 35px 3px;
    margin: 0 -3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background: linear-gradient($gray 90%, transparent);
  }

  &__left {
    display: flex;
    align-items: center;
    flex: 1;

    .bp3-tag {
      height: 20px;
    }
  }

  &__name {
    font-family: FiraCode;
    font-size: 20px;
    margin-left: 15px;
    max-width: 250px;
  }


  &__controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    & > * + * {
      margin-left: 12px;
    }
  }

  &__body {
    margin-bottom: 12px;
    margin-top: -8px;
  }

  &__nothing {
    padding-bottom: 20px;
  }
}