.task-item {
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 3px;
  padding: 8px;
  position: relative;
  animation: 3s 1 alternate task-border;

  &__header {
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__header-left {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
  }

  &__header-right {
    button.bp3-button {
      padding: 0px 12px;
      min-width: 20px;
      min-height: 20px;
    }
  }

  &__title {
    font-size: 16px;
    font-family: FiraCode;
    max-width: 550px; 
  }

  &__tags {
    .bp3-tag {
      font-size: 11px;
      margin-right: 10px;
    }
  }

  &__body {
    padding: 15px;
  }

  &__dialog-footer {
    display: flex;
    justify-content: flex-end;

    .bp3-button {
      margin-left: 5px;
    }
  }

  &__add-item {
    position: absolute;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &:hover {
      opacity: 1;
    }

    &.before {
      top: -9px;
      left: 0;
    }

    &.after {
      bottom: -14px;
      left: 0px;
    }

    & .line {
      border-bottom: 1px dashed $lesslightergray;
      width: 100%;
    }

    & .text {
      color: #828282;
      font-size: 9px;
      background: whitesmoke;
      margin-top: -6px;
      width: 130px;
    }
  }
}

@keyframes task-border {
  from {
    box-shadow: 0px 0px 5px #756dfd;
  }

  to {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  }
}