.task-item {
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 3px;
  padding: 8px;
  position: relative;
  animation: 3s 1 alternate task-border;

  &__header {
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__header-left {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
  }

  &__header-right {
    button.bp3-button {
      padding: 0px 12px;
      min-width: 20px;
      min-height: 20px;
    }
  }

  &__title {
    font-size: 16px;
    font-family: FiraCode;
  }

  &__tags {
    .bp3-tag {
      font-size: 11px;
      margin-right: 10px;
    }
  }

  &__body {
    padding: 15px;
  }

  &__dialog-footer {
    display: flex;
    justify-content: flex-end;

    .bp3-button {
      margin-left: 5px;
    }
  }

  &__add-button {
    position: absolute;
    width: calc(100% + 22px);
    cursor: pointer;
    opacity: 0;

    &:hover {
      opacity: 1;
    }

    &.before {
      top: -20px;
      left: -22px;
    }

    &.after {
      bottom: -9px;
      left: -22px;
    }

    .button {
      text-align: center;
      background: #0f9960;
      width: 20px;
      height: 20px;
      border-radius: 4px;
  
      .bp3-icon {
        color: white !important;
      }
    }
  
    .line {
      height: 1px;
      width: 100%;
      background: #0f9960;
      margin-top: -10px;
    }
  }
}

@keyframes task-border {
  from {
    box-shadow: 0px 0px 5px #756dfd;
  }

  to {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  }
}