html, body {
  width: 100%;
  height: 100%;
  font-size: 12px !important;
}

// colors
$primary: #6600ff;

$lightgray: #cfd0d1;
$lightpurple: #d8c1fb;

@import "./components/app";
@import "./components/dashboard";
@import "./components/story-details";
@import "./components/story-list";
@import "./components/story-list-item";
@import "./components/collapsible-card";
@import "./components/task-list";
@import "./components/task-item";

// resets
button.bp3-button {
  font-size: 12px;
}

span.bp3-tag.bp3-minimal {
  background-color: lavender !important;
  color: $primary !important;
}